div.banner-block
{
	padding: 10px;
	padding-left: 10px !important;
	margin:3px;
	background:#f8f8f8;
	border-bottom:1px solid #e5e5e5;
}
div.banner-block.even
{
	background:#ecf7ff;
	border-bottom:1px solid #d0ebff;
}
div.banner-block div
{
	padding:3px 0;
}
div.banner-block span
{
	text-align: left;
	width: 170px;
	display: table-cell;
}
div.banner-block span.right
{
	text-align:right;
	width:auto;
}
div.banner-block input.common[type="text"]
{
	width:40px;
}
div.banner-block p.actions
{
	margin-top: 20px;
}
