.banner-block {
	padding: 10px;
	padding-left: 10px !important;
	margin: 20px 20px 20px 0;
	background: #f8f8f8;
	border-bottom: 1px solid #e5e5e5;
}

.banner-block .row {
	margin-bottom: 0 !important;
}

.banner-block .make-switch {
	margin-top: -12px;
	margin-left: 10px;
}

.banner-block.even {
	background: #ecf7ff;
	border-bottom: 1px solid #d0ebff;
}

.banner-block div {
	padding: 3px 0;
}

.banner-block p > span {
	text-align: left;
	width: 170px;
	display: table-cell;
}

.banner-block span.right {
	text-align:right;
	width:auto;
}

.banner-block input.common[type="text"] {
	width:40px;
}

.banner-block p.actions {
	margin-top: 20px;
}
